<!--heading-->
<div class="body">       
<div class="heading"><h1><span class="bi bi-brightness-alt-high-fill sun"></span>AccuWeather</h1>

 <!--menu bar-->
    
      <div class="btn-group dropstart">
        <button type="button" class=" btn btn-secondary menubtn" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-list"></i>
        </button>
  <ul class="dropdown-menu scrollable-menu" role="menu">
    <span class="bi bi-gear settings-icon"><span class="settings">settings</span></span>
    <span class="closeBtn"><button type="button" class="btn-close" aria-label="Close"></button></span>
    <li><a class="dropdown-item" href="#">Hyderabad, TELANGANA WEATHER</a></li>
    <hr>

          <li><a class="dropdown-item menu" href="#">Today</a></li>
          <li><a class="dropdown-item menu" href="#">Hourly</a></li>
          <li><a class="dropdown-item menu" href="#">Daily</a></li>
          <li><a class="dropdown-item menu" href="#">Radar</a></li>
          <li><a class="dropdown-item menu" href="#">MinuteCast</a></li>
          <li><a class="dropdown-item menu" href="#">Monthly</a></li>
          <li><a class="dropdown-item menu" href="#">Air Quality</a></li>
          <li><a class="dropdown-item menu" href="#">Health & Activities</a></li>
          <hr class="horizontal-line">
          <li><a class="dropdown-item menu" href="#">AROUND THE GLOBE</a></li>
          <li><a class="dropdown-item menu" href="#">Hurricane Tracker</a></li>
          <li><a class="dropdown-item menu" href="#">Severe Weather</a></li>
          <li><a class="dropdown-item menu" href="#">Radar & Maps</a></li>
          <!-- <div>
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <div class="dropdown-container">
            <ul>
            <li><a class="dropdown-item" href="#">AROUND THE GLOBE</a></li>
          <li><a class="dropdown-item" href="#">Hurricane Tracker</a></li>
                </ul> -->
  </ul>

</div>


</div>
<!--input,dropdown-->
<div class="input-group">

    <!-- <button class="search"><span class="bi bi-search"></span></button>
 <input type="search" class="form-control shadow-none "placeholder="search">-->

 <!-- <div class="row mt-5">
    <div class="col-md-5 mx-auto"> -->
        <!-- <div class="small fw-light">rounded search input with icon</div> -->
        <!-- <div class="input-group"> -->
            
            <span class="input-group-prepend">
                <button class="btn btn-outline-secondary bg-white rounded-0" type="button">
                    <i class="bi bi-search"></i>
                </button>
            </span>
            <input class="form-control border-end-0 border shadow-none" type="search" placeholder="search" id="location-search-input">

    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">location</button>
    
    
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="#">Location</a></li>
      <li><a class="dropdown-item" href="#">News</a></li>
      <li><a class="dropdown-item" href="#">Videos</a></li>
    </ul>
  </div>

  <button class="search"><div class="searchbar-result"><span class="bi bi-geo-alt"></span>use your current location</div></button>
<p class="recent">RECENT LOCATIONS </p>
  <div> 
    <!--//cards -->

    <div class="cards-container">
    <div class="container" >
    <!-- <div class="row-col-4"> -->
        
    <div class="card" *ngFor="let weather of weatherData">
    <!-- <div class="card " style="width: 13rem;"*ngFor="let weather of weatherData"> -->
        <div class="card-body ">
          <h5 class="card-title">{{weather.city}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{weather.state}}</h6>
          <i class="bi bi-cloud cloud"></i><span class="card-degree">{{weather.degree}}</span>
        <p class="RealFeel">RealFeel </p>
        </div>
      </div>
      <!-- </div> -->
      </div>
      </div>

  </div>

 
</div>
